<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Paint Calculator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/styles/main.css}" href="../styles/main.css" rel="stylesheet" />
    </head>
    <body>
        <div class="error-page">
            <h2>Borwell Paint Calculator</h2>
            <h3>Something went wrong! </h3>
            <h3>Our Engineers are on it</h3>
            <a href="/">Home</a>
        </div>
    </body>
</html>