.banner{
    background-image: url("../images/logo.webp");
    background-color: #1a4421;
    width:450px;
    height:100px;
    background-repeat: no-repeat;
}

.input-page {
  background-color: #ccc;
  width: 450px;
}

.results-page {
  background-color: #ccc;
  width: 450px;
}

.index-page {
  background-color: #ccc;
  width: 450px;
}

.error-page {
  background-color: #ccc;
  width: 450px;
}

.page-heading{
    margin:15px 15px 15px 15px;
    background-color: #ccc;
}

.data-table {
  margin: 25px;
  width: 400px;
  padding: 25px;
}

.results-text {
    maxLength: 8;
    size: 8;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  background-color: #ccc;
}
